body {
    background-image: url("background/blurred.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

} 

.container a {
    text-decoration: none;
   color: white;
}

.container {
    position: fixed;
    top: 10px;
    left: 950px;
}

.container1 {
    left: 440px;
    top: 60px;
    position: fixed;
}

.container1 a {
    text-decoration: none;
    color: white;
}

.a:hover{
    background-color:#003333; 
    padding: .5em;
    border-radius: 7px;
}

.header {
    background:#993366;
    width:100%;
    top:0%;
    left: 0;
    position:fixed;
}

.logo img {
    float: left;
    margin-left: 100px;

}

.search input {
    left: 1027px;
    top: 40px;
    text-indent: 10px;
    height: 40px;
    width: 250px;
    border-radius: 10px;
    position: fixed;
}

.bar img {
    position: fixed;
    left: 1240px;
    top: 43px;
    height: 35px;
    border-radius: 10px;
}
.b:hover{
    background-color:#FFFFFF; 
    padding: .5em;
    border-radius: 7px;
}
.name1 p {
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    left: 90px;
    top: 90px;
}
.view1 {
    font-weight: normal;
    font-size: 22px;
    position: absolute;
    left: 100px;
    top: 380px;
}
.F1 img{
    position: absolute;
    border-radius: 5px;
    left: 65px;
    top: 150px;
    height: 250px;
    width: 200px;
}
.info1 h2 {
    color: white;
    font-weight: bold;
    position: absolute;
    left: 275px;
    top: 167px;
}
.info1 h4 {
    position: absolute;
    color: pink;
    left: 275px;
    top: 210px;
}
.info1 h5 {
    font-size: 25px;
    position: absolute;
    color: white;
    font-weight: lighter;
    left: 275px;
    top: 240px;
}
.F2 img{
    position: absolute;
    border-radius: 5px;
    left: 65px;
    top: 500px;
    height: 250px;
    width: 200px;
}
.name2 p {
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    left: 90px;
    top: 445px;
}
.view2 p {
    font-weight: normal;
    font-size: 22px;
    position: absolute;
    left: 100px;
    top: 727px;
}
.info2 h2 {
    color: white;
    font-weight: bold;
    position: absolute;
    left: 275px;
    top: 500px;
}
.info2 h4 {
    position: absolute;
    color: pink;
    left: 275px;
    top: 543px;
}
.info2 h5 {
    font-size: 25px;
    position: absolute;
    color: white;
    font-weight: lighter;
    left: 275px;
    top: 573px;
}
.name3 p {
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    left: 810px;
    top: 90px;
}
.view3 p {
    font-weight: normal;
    font-size: 22px;
    position: absolute;
    left: 815px;
    top: 380px;
}
.F3 img{
    position: absolute;
    border-radius: 5px;
    left: 790px;
    top: 150px;
    height: 250px;
    width: 200px;
}
.info3 h2 {
    color: white;
    font-weight: bold;
    position: absolute;
    left: 1000px;
    top: 167px;
}
.info3 h4 {
    position: absolute;
    color: pink;
    left: 1000px;
    top: 210px;
}
.info3 h5 {
    font-size: 25px;
    position: absolute;
    color: white;
    font-weight: lighter;
    left: 1000px;
    top: 240px;
}
.F4 img{
    position: absolute;
    border-radius: 5px;
    left: 790px;
    top: 500px;
    height: 250px;
    width: 200px;
}
.name4 p {
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    left: 810px;
    top: 445px;
}
.view4 p {
    font-weight: normal;
    font-size: 22px;
    position: absolute;
    left: 815px;
    top: 727px;
}
.info4 h2 {
    color: white;
    font-weight: bold;
    position: absolute;
    left: 1000px;
    top: 500px;
}
.info4 h4 {
    position: absolute;
    color: pink;
    left: 1000px;
    top: 543px;
}
.info4 h5 {
    font-size: 25px;
    position: absolute;
    color: white;
    font-weight: lighter;
    left: 1000px;
    top: 573px;
}
