body{
	background-image: url("pictures/hatsune miku 724x453.jpg");
	background-size: 100%
}
#back{
	font-size: 15px;
	width: 10em;
	height: 3em;
	margin-left: 16em;
	border-top-left-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
}
#vlc0{
	background-color: white;
	margin-top: 5em;
	margin-bottom: 2em;
	width: 40em;
	height: 5em;
	border-top-left-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
}
